<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.lixihao.couponapi.mapper.BindingMapper">

    <sql id="table">
        t_coupon_binding
    </sql>

    <sql id="columns">
        device_id
        ,phone_number
        ,user_id
        ,openid
    </sql>

    <insert id="add" parameterType="cn.com.lixihao.couponapi.entity.condition.BindingCondition">
        INSERT INTO
        <include refid="table"/>(
        <include refid="columns"/>
        )VALUES(
        #{device_id}
        ,#{phone_number}
        ,#{user_id}
        ,#{openid}
        )
    </insert>

    <select id="get" resultType="cn.com.lixihao.couponapi.entity.condition.BindingCondition">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="openid != null">
                AND openid = #{openid}
            </if>
            <if test="user_id != null">
                AND user_id = #{user_id}
            </if>
            <if test="phone_number != null">
                AND phone_number = #{phone_number}
            </if>
        </trim>
        LIMIT 1
    </select>

    <update id="update" parameterType="cn.com.lixihao.couponapi.entity.condition.BindingCondition">
        UPDATE
        <include refid="table"/>
        <trim prefix="SET" prefixOverrides=",">
            <if test="device_id != null">
                ,device_id = #{device_id}
            </if>
            <if test="phone_number != null">
                ,phone_number = #{phone_number}
            </if>
            <if test="user_id != null">
                ,user_id = #{user_id}
            </if>
            <if test="openid != null">
                ,openid = #{openid}
            </if>
        </trim>
        WHERE phone_number = #{phone_number}
    </update>
</mapper>